@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


:root {
    --color-bg-rabbit-red: #ea2e0e;
    --font-family-inter: 'Inter', sans-serif;
}

.bg-rabbit-red {
    background-color: var(--color-bg-rabbit-red);
}

.font-inter {
    font-family: var(--font-family-inter);
}
